//BG
.bgWrap{

  //Position
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: $background-color;

  //Sizing
  width: 100%;
  height: 100%;
  display: flex;

  //Spacing
  padding: 0;
  margin: 0;

  //Display
  flex-direction: column;

  justify-content: space-evenly;
  overflow: hidden;

  animation: fadeIn 2s ease-in;

  .codeRow{
    width: 100%;
    height: 50vh;

    display: flex;

    .bgCode{

      //Sizing
      width: 20vw;
      height: fit-content;

      //Spacing
      margin-bottom: 0;

      //Display
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      //Text
      font-size: 70vh;
      line-height: 1em;
      letter-spacing: 2rem;

      //Animation
      animation: code 10s ease-in-out forwards;
      transform: translate3d(0,0,0);
    }
    .bgCode.one{
      color: $med-accent;
    }
    .bgCode.two{
      color: $dark-accent;
    }
    .bgCode.three{
      color: $primary-color;
    }
    .bgCode.four{
      color: $dark-accent;
    }
    .bgCode.five{
      color: $med-accent;
    }
  }
  .codeRow.top{
    align-items: center;
    justify-content: center;
  }
  .codeRow.bottom{
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.bubbleRow{
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes code{
  0%,100%{
    transform: scale(1);
    opacity: 0.15;
  }
  50%{
    transform: scale(0.5);
  }
}

@for $i from 1 through 5{

  .bgWrap:nth-child(#{$i}){

    animation-delay: #{$i}s;
    -webkit-animation-delay: #{$i * 0.1}s;
  }
}