//BG
.bgWrap{
  --bubble-size: 10vw;

  position: fixed;
  z-index: 1;

  top: 0;
  width: 100%;
  height: 100%;
  display: flex;



  padding: 0;
  margin: 0;


  flex-direction: row;

  align-items: center;
  justify-content: center;

  overflow: hidden;

  animation: fadeIn 2s ease-in;

  .bgCode{

    color: transparent;

    font-size: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--bubble-size);

    border-radius: 100%;

    transform: translate3d(0,0,0);

    opacity: 0.5;

    line-height: 20rem;

    animation: code 10s ease-in-out forwards;

  }

  .one{
    color: $primary-color;
  }
  .two{
    color: $dark-accent;
  }
  .three{
    color: $med-accent;
  }
  .four{
    color: $dark-accent;
  }
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.bubbleRow{
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes code{
  0%,100%{
    transform: scale(2);
    opacity: 0.2;
  }
  50%{
    transform: scale(1);
  }
}

@for $i from 1 through 4{

  .bgWrap:nth-child(#{$i}){

    animation-delay: #{$i}s;
    -webkit-animation-delay: #{$i * 0.1}s;
  }
}