.splashPage{
  position: relative;
  z-index: 2;
  margin-top: 0;



  animation: fadeIn 2s ease-in forwards;
  animation-delay: 2s;
}
header{



  position: relative;
  top: 0;
  z-index: 10;

  //Display
  display: flex;
  flex-direction: column;
  align-items: center;

  //Sizing:
  width: 100%;
  //padding: 1rem;

  background-color: $dark-accent;

  transition: all 1s;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 4s;
  opacity: 0;

  //Text Colors
  .codeBracket {color: $med-accent;}
  .main {color: $primary-color;}
  .bracketed {color: $light-accent;}
  .Typewriter__cursor {color: $light-accent;}

  span {
    line-height: 1em;
    transition: font-size 1s;
  }
  .main,.title{
    span{
      font-weight: 700;
    }
  }
  .title{
    transition: all 1s;
    padding-top: 0rem;
    //height: 0;

    span{
      font-size: 0;
    }
  }
  .main{
    padding-top: 1rem;

    .name{
      display: flex;
      justify-content: center;
    }
  }
  .name{
    span{
      font-size: 2rem;
    }
  }
}
nav{

  display: flex;

  padding: 0.5rem;

  //Background & Border
  background-color: $dark-accent;
  border-top: 0.5rem solid $med-accent;

  //Text
  color: $light-accent;

  //Misc
  margin-top: 100vh;
  transition: all 1s;
  animation: fromBottom 2s ease-out forwards;
  animation-delay: 5s;

  span{
    font-size: 1.5rem;
    border-color: transparent;
    transition: border-color 0.5s;

    &:hover{
      border-bottom: 0.5rem solid $med-accent;
      cursor: pointer;
    }
  }
  span.active{
    border-bottom: 0.5rem solid $primary-color;
  }


}

@keyframes fromBottom{
  0%{margin-top: 100vh}
  100%{margin-top: 0}
}
@keyframes fromTop{
  0%{margin-bottom: 100vh}
  100%{margin-top: 0}
}